body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}
main {
  background-color: lightblue;
  padding: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main > section {
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  width: min-content;
}
#left {
  background-color: dodgerblue;
  color: white;
  width: 20%;
  height: 220px;
}
#center,
#right {
  background-color: dodgerblue;
  color: white;
  width: 40%;
  height: 220px;
  text-align: center;
}
a {
  border: 1px;
  border-color: dimgray;
  background-color: gold;
  color: darkred;
  padding: 10px;
}
